<div class="card">
    <h5>Gestión Usuarios</h5>
<p-button (click)="showModalDialog()" icon="pi pi-external-link" label="Nuevo Usuario"></p-button>
<p-dialog header="Gestión Usuarios" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" styleClass="p-fluid"
    [draggable]="false" [resizable]="false">
   
        <div [formGroup]="usuarioForm">
            <div class="field">
                <label for="username1" class="block">Username</label>
                <input id="username1" type="username" aria-describedby="username1-help" pInputText formControlName="username"/>
                <small id="username1-help" class="block">Ingrese usuario.</small>
            </div>

            <div class="field">
                <label for="email" class="block">Correo</label>
                <input id="email" type="email" aria-describedby="username1-help" pInputText formControlName="email"/>
                <small id="email-help" class="block">Ingrese Correo.</small>
            </div>

            <div class="field">
                <label for="pass" class="block">Contraseña</label>
                <input id="pass" type="email" aria-describedby="username1-help" pInputText formControlName="password"/>
                <small id="pass-help" class="block">Ingrese Contraseña.</small>
            </div>

    
        </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="enviarUsuario()" [disabled]="!usuarioForm.valid" label="Guardar Usuario" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>

    <p-table [value]="usuarios" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>USERNAME</th>
                <th>EMAIL</th>
                <th>ESTADO</th>
                <th>
                    ACCION
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td>{{usuario.id}}</td>
                <td>{{usuario.username}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.estado}}</td>
                <td>
                    
                    <p-button icon="pi pi-check" (click)="showModalEditarUsuarioDIalog(usuario)" label="editar" styleClass="p-button-text"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>